<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Added product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <h1>Result</h1>
    <p th:text="'code: ' + ${product.productCode}" />
    <p th:text="'name: ' + ${product.name}" />
    <a href="/addproduct">Add another product</a>
</div>

</body>
</html>